In [47]:
# read in the raw data from its folder
rawData = open("YOUR PATH HERE").read()

# print a slice of the raw data for visual inspection
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

The \t values are between the labels and the text message bodies
The \n values indicate a new line and usually occur at the end of a text message

The \t value also indicates that the data is separated by tabs. We could take a shortcut here if we wanted and read the data in using Pandas' read_csv() function and then for the sep field we'd indicate sep='\t' so that Pandas knows that the data is separated by tabs. For this dataset we'd also have to indicate header=None because there are no column names and we don't want Pandas taking the first row as the column names.

Let's reformat this by replacing the \t values with the \n values. This will create a new line for every text message. Then we can split the data into lists.

In [48]:
parsed_data = rawData.replace('\t', '\n').split('\n')

In [49]:
parsed_data[0:10]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham',
 "Nah I don't think he goes to usf, he lives around here though",
 'ham',
 'Even my brother is not like to speak with me. They treat me like aids patent.',
 'ham',
 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [50]:
# label_list is starting at the first element, going to the end, and then pulling every 
label_list = parsed_data[0::2]
text_list = parsed_data[1::2]

In [51]:
print(label_list[0:5])
print(text_list[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [52]:
import pandas as pd

full_corpus = pd.DataFrame({
    'label' : label_list[:-1],
    'body_list' : text_list
})

full_corpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [53]:
fullCorpus = pd.read_csv("YOUR PATH HERE",
                     sep='\t',header=None)
fullCorpus.columns = ['label','body_text']

In [54]:
fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [55]:
# shape of dataset
print('Dataset has {} rows and {} columns'.format(len(fullCorpus), len(fullCorpus.columns)))

Dataset has 5568 rows and 2 columns

In [56]:
# how many spam/ham are there?
print('Dataset has {} rows, {} are spam, {} are ham'.format(len(fullCorpus),
                                                            len(fullCorpus[fullCorpus['label'] == 'spam']),
                                                            len(fullCorpus[fullCorpus['label'] == 'ham'])))

Dataset has 5568 rows, 746 are spam, 4822 are ham

In [57]:
# quantify missing data
print('Number of null in label: {}'.format(fullCorpus['label'].isnull().sum(),
                                          fullCorpus['body_text'].isnull().sum()))

Number of null in label: 0

We can use Regex to parse through the data as well

In [58]:
import re

re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This      is a made up     string to test 2    different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2""""""different~regex-methods'

In [61]:
# split sentence into a list of words

# '\s' tells python to look for only a single white space
re.split('\s',re_test)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [62]:
# tells python to look for multiple white spaces
re.split('\s+',re_test_messy)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [65]:
# tells python to search for any groupings of 1 or more non-word characters
re.split('\W+',re_test_messy1)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [66]:
# the capital S tells python to search for 1 or more non-whitespace characters
# when you capitalize the letter it tells python to search for the opposite of the lower case letter
re.findall('\S+',re_test_messy1)

['This-is-a-made/up.string*to>>>>test----2""""""different~regex-methods']

That didn't work so well. Let's try searching for all word characters

In [68]:
# search for one or more word characters
re.findall('\w+',re_test_messy1)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [69]:
pep8_test = 'I try to follow PEP8 guidelines'
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow PEEP8 guidelines'

In [74]:
import re

re.findall('[A-Z]+[0-9]+',pep8_test)

['PEP8']

In [76]:
# Substitutes the value returned by the regex function with a given input value
re.sub('[A-Z]+[0-9]+','PEP8 Python StyleGuide', pep8_test)

'I try to follow PEP8 Python StyleGuide guidelines'